@import './fonts.scss';

/* Color */
$color-white: #ffffff;
$color-dark: #000000;
$color-dark-gray: #828b8d;
$color-gray-primary: #ced4d7;
$color-light-gray: #f2f2f2;
$color-green: #219653;
$color-red: #eb5757;
$color-gray-secondary: #ced4d7;

/* Font */
$font-family-main: 'Gtrsk Peta';

// Font Size
$font-size-48: 48px;
$font-size-32: 32px;
$font-size-21: 21px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-8: 8px;

// Line Height
$line-height-40: 40px;
$line-height-35: 35px;
$line-height-30: 30px;
$line-height-25: 25px;
$line-height-20: 20px;
$line-height-10: 10px;

:root {
}
